.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.centerD{
  display: flex;
  justify-content: center;
}

.display-flex{
  display: flex;
}

.justifyEnd{
  justify-content: flex-end;
}
.width-100{
  width: 100%;
}